* {
    padding: 0;
    margin: 0;
    background-color: black;
    color: whitesmoke;
}

.container {
    border: white 1px solid;
    display: flexbox;
    width: 90vw;
    height: 90vh;
    margin-left: 5vw;
    margin-top: 5vh;
    flex-direction: row;
    justify-content: center;
}

button {
    margin: 5vw;
    border: white solid 2px;
    padding: 20px;
}

